html,
body {
  height: 100%;
  margin: 0;
  background: #181818;
  overflow-y: hidden;
}
p {
  font-family: "IBM Plex Sans", ibm-plex-sans, "Helvetica Neue", Arial,
    sans-serif;
}
#panel {
  opacity: 0;
}
.container {
  display: flex;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.column {
  display: flex;
  position: relative;
  min-width: 100%;
  margin: 0 auto;
}
.arrow_left {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid #ffffff;
  animation: pulseLeft 1s 2s 5 forwards;
  position: relative;
}
.arrow_right {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ffffff;
  animation: pulseRight 1s 2s 5 forwards;
  position: relative;
}

.arrow_right,
.arrow_left {
  width: 0;
  height: 0;
  margin: auto 20px;
  cursor: pointer;
}
.loader {
  height: 200px;
  border-radius: 50%;
  width: 200px;
  margin: auto;
  animation: loading 3s linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
}

.loader:before {
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        hsla(220, 100%, 50%, 1) 50%,
        hsla(220, 100%, 50%, 0.9) 100%
      )
      0% 0%,
    linear-gradient(
        90deg,
        hsla(220, 100%, 50%, 0.9) 50%,
        hsla(220, 100%, 50%, 0.6) 100%
      )
      100% 0%,
    linear-gradient(
        180deg,
        hsla(220, 100%, 50%, 0.6) 50%,
        hsla(220, 100%, 50%, 0.3) 100%
      )
      100% 100%,
    linear-gradient(
        360deg,
        hsla(0, 50%, 100%, 0.3) 0%,
        hsla(0, 50%, 100%, 0) 0%
      )
      0% 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.loader:after {
  background: #181818;
  border-radius: 50%;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
}
@keyframes slide {
  0% {
    top: 0px;
    opacity: 0.8;
  }
  100% {
    top: 400px;
    opacity: 0;
  }
}

@keyframes pulseLeft {
  0% {
    left: 0px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
@keyframes pulseRight {
  0% {
    right: 0px;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 0px;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
